In [4]:
# we are going to see how to use Functions in Python

# Lambda function

def square(num):

  """
  Square function takes in a number and returns the square of that number

  Params:
  num: number to be squared

  returns : Squared Integer

  """
  a = num*num
  print("the squared number is:",a)
  return  a

square(25)

the squared number is: 625

625

In [5]:
square?

In [7]:
#modulus and quotient

# % - remainder of any division
# // - GIve you the Quotient

print(75%9)

print(75//9)

3
8

In [8]:
#Normal Division
75/9

8.333333333333334

In [12]:
lst =[1,2,6,4,5,4,5,7,8,2,4,5]
#i want to sort and get the even numbers from the list . Write a function to do this .

# Pesuedo code
# define a function
# Iterate all the elements in a For loop and perfomr the below steps
# Divide by 2 and get the Remiander = 0
# find those elements in the list and then add them to a seperate list
# return the List

def returnsortedEven(lst):
  new_list =[]
  for i in lst:
      if i%2==0:
        new_list.append(i)
      new_list.sort()
  return new_list

returnsortedEven(lst)

[2, 2, 4, 4, 4, 6, 8]

In [14]:
def returnsortedEven(lst):
  new_list =[]
  for i in lst:
      if i%2==0:
        new_list.append(i)
      s = set(new_list)
      new_list = list(s)
      new_list.sort()
  return new_list

returnsortedEven(lst)

[2, 4, 6, 8]

In [ ]:
lst =[1,2,6,4,5,4,5,7,8,2,4,5,9]
#your homework
# sort the numbers of Odd numbers and then remove duplicates

In [17]:
for i in range(0,10,2):
  print(i)

0
2
4
6
8

In [39]:
#genarting Random Numbers
import random
#integer
random_integer = random.randint(0,100)
print(random_integer)

#float
print(random.random())

#float specific range
print(random.uniform(1.5,5.5))

#random number from a normal Distribution
random_normal = random.gauss(mu=0,sigma=2)
print(random_normal)

#randomly choosing from a list
fruits = ['apple', 'banana', 'cherry', 'date', 'elderberry']
print(random.choice(fruits))



fruits = ['apple', 'banana', 'cherry', 'date', 'elderberry']
fruits1 = fruits[-3:]
print(fruits1)
print(random.choices(fruits,k=2))
#raodnomly generate a list of random numbers

#randomly generate the numbers in a range
random.sample(range(1,101),5)

76
0.6284659205239158
2.9198876340177073
-0.6998963485364341
banana
['cherry', 'date', 'elderberry']
['banana', 'date']

[42, 66, 38, 16, 68]

In [40]:
#Lamda Function
def add_ten(nmumber):
  num = number+10
  return num

In [41]:
add_ten_lambda = lambda x:x+10

print(add_ten_lambda(5))

15

In [42]:
# Filter funciton in Lambda to filter the numbers

numbers = [1,2,3,4,5,6,7,8,9,10]
even_numbers = list(filter(lambda x:x%2==0,numbers))
print(even_numbers)

[2, 4, 6, 8, 10]

In [ ]:
#mutiply two numbers using Lambda is your Homework

In [47]:
# map function - is to map the elememts in a list for perfomring any operations
numbers = [1,2,3,4,5,6,7,8,9,10]
squared_numbers = list(map(lambda x:x**2,numbers))

print(squared_numbers)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]